# Binaries
**/bin/
bin-int/
obj/
Intermediates/
__pycache__

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

# Directories
scripts/__pycache__
gui/vendor/boost_1_82_0